<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @commit.id %>
</p>

<p>
  <strong>Sha:</strong>
  <%= @commit.sha %>
</p>

<p>
  <strong>Description:</strong>
  <%= @commit.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @commit.author %>
</p>

<p>
  <strong>Release:</strong>
  <%= @commit.release_id %>
</p>

<%= link_to 'Edit', edit_commit_path(@commit) %> |
<%= link_to 'Back', commits_path %>
